*{
    margin: 15px 100px 15px 15px;
}
body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body,.border{
    border: 2px solid black;
}
.header{
    display: flex;
    align-items: center;
}
.header h1{
    margin-right: 400px;
}
.main{
    display: flex;
    justify-content: flex-start;
}
img{
    width: 25%;
    height: 20%;
}